<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>i-List.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AA9993BA1DCB42B600103609</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AA9993CE1DCB42B700103609</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AA9993D91DCB42B700103609</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
